.testing {
  width: percentage(5/7);
}

body {
	background: #99E855;
	width: 100%;
	padding: 0;
	margin: 0;
}

textarea {
	width: 100%;
	height: 200px;
}

h1 {
	height: 10vh;
	text-align: center;
	font-size: 5vh;
}

#problem {
	background: #5EFFAB;
}

#solution {
	background: #7BFF6B;
}

#response {
	background: #55E872;
}

.psr-text {
	height: 30vh;
	padding: 1vh;
	border: none;
	font-size: 5vh;
}